In [1]:
import pandas as pd
import numpy as np
import sklearn
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
df=pd.read_csv('/users/richardkornblith/Data_Science/NYCHR/Data_for_NYCHR/ACS_15_5YR_by_tract/ACS_15_5YR_B25063_with_ann.csv')
df.head()

,GEO.id,GEO.id2,GEO.display-label,HD01_VD01,HD02_VD01,HD01_VD02,HD02_VD02,HD01_VD03,HD02_VD03,HD01_VD04,...,HD01_VD23,HD02_VD23,HD01_VD24,HD02_VD24,HD01_VD25,HD02_VD25,HD01_VD26,HD02_VD26,HD01_VD27,HD02_VD27
0,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,Estimate; With cash rent:,Margin of Error; With cash rent:,Estimate; With cash rent: - Less than $100,Margin of Error; With cash rent: - Less than $100,Estimate; With cash rent: - $100 to $149,...,"Estimate; With cash rent: - $2,000 to $2,499","Margin of Error; With cash rent: - $2,000 to $...","Estimate; With cash rent: - $2,500 to $2,999","Margin of Error; With cash rent: - $2,500 to $...","Estimate; With cash rent: - $3,000 to $3,499","Margin of Error; With cash rent: - $3,000 to $...","Estimate; With cash rent: - $3,500 or more","Margin of Error; With cash rent: - $3,500 or more",Estimate; No cash rent,Margin of Error; No cash rent
1,1400000US36061000100,36061000100,"Census Tract 1, New York County, New York",0,11,0,11,0,11,0,...,0,11,0,11,0,11,0,11,0,11
2,1400000US36061000201,36061000201,"Census Tract 2.01, New York County, New York",972,71,972,71,0,11,19,...,64,38,11,15,0,11,0,11,0,11
3,1400000US36061000202,36061000202,"Census Tract 2.02, New York County, New York",2649,197,2649,197,0,16,0,...,0,16,15,24,11,16,0,16,0,16
4,1400000US36061000500,36061000500,"Census Tract 5, New York County, New York",0,11,0,11,0,11,0,...,0,11,0,11,0,11,0,11,0,11

In [3]:
df.drop([0], inplace=True)

In [4]:
df.rename(columns={'HD01_VD02':'Units','HD01_VD23':'2000-2499','HD01_VD24':'2500-2999','HD01_VD25':'3000-3499','HD01_VD26':'3500 or more'}, inplace=True)
df.shape

(288, 57)

In [12]:
rents2015_df = df[['Units', '2000-2499', '2500-2999','3000-3499','3500 or more']]
rents2015_df = rents_df.astype(int)
rents2015_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 288 entries, 1 to 288
Data columns (total 5 columns):
Units           288 non-null int64
2000-2499       288 non-null int64
2500-2999       288 non-null int64
3000-3499       288 non-null int64
3500 or more    288 non-null int64
dtypes: int64(5)
memory usage: 13.5 KB

In [13]:

rents2015_df.head()

   Units  2000-2499  2500-2999  3000-3499  3500 or more
1      0          0          0          0             0
2    972         64         11          0             0
3   2649          0         15         11             0
4      0          0          0          0             0
5   4069         59         31         31            67

In [14]:
rents2015_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 288 entries, 1 to 288
Data columns (total 5 columns):
Units           288 non-null int64
2000-2499       288 non-null int64
2500-2999       288 non-null int64
3000-3499       288 non-null int64
3500 or more    288 non-null int64
dtypes: int64(5)
memory usage: 13.5 KB